# VCD files
*.vcd

# VVP files
*.vvp

# txt files
*.txt

# python files
check_data.py
compare_traces.py
debug_image.py
export_test_image.py
model_sim.py
gen_sw_l1_trace_for_comparison.py
run_batch_test.py

# data files
data/
__pycache__/
weights/