# VCD files
conv2d_layer1.vcd
conv2d_layer2.vcd
conv2d_layer3.vcd

# VVP files
conv2d_layer1_tb.vvp
conv2d_layer2_tb.vvp
conv2d_layer3_tb.vvp

# txt files
conv1_relu.txt
conv2_selu.txt
conv3_gelu.txt
selu_lut.txt
gelu_lut.txt
fc_weights.txt
fc_biases.txt
test_image.txt
